@using Meowie.Lib.Components
<Router AppAssembly="@typeof(Main).Assembly" AdditionalAssemblies="new []{typeof(MeowieLayout).Assembly}">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MeowieLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MeowieLayout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>
