@page "/sensordashboard"
@using Meowie.Lib.Data
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
<h3>Sensor Dashboard (Connected: @hubConnection?.State)</h3>
 


<h5>Accel</h5>
Z @sensorData.AccelerometerZ.ToString("0.0000")<br/>
Y @sensorData.AccelerometerY.ToString("0.0000")<br/>
X @sensorData.AccelerometerX.ToString("0.0000")<br/>

<h5>Orientation</h5>
X @sensorData.OrientationX.ToString("0.0000")<br/>
Y @sensorData.OrientationY.ToString("0.0000")<br/>
Z @sensorData.OrientationZ.ToString("0.0000")<br/>
W @sensorData.OrientationW.ToString("0.0000")<br/>

<h5>Compass</h5>
Compass @sensorData.CompassHeadingMagneticNorth.ToString("0.0000")<br/>
@code {

    [Inject]
    public IBackendUrlProvider BackeEndUrlProvider { get; set; }

    private SensorData sensorData = new();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(BackeEndUrlProvider.GetBackEndUrl() + "/sensorhub")
            .Build();

        hubConnection.On<SensorData>("SensorData", data =>
        {
            sensorData = data;
            StateHasChanged();
        });


        await hubConnection.StartAsync();

    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
